streamlit
google-generativeai          
googleapis-common-protos     
translate                    
langdetect                   
load_dotenv
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability