streamlit
google-generativeai          
googleapis-common-protos     
translate                    
langdetect                   
load_dotenv
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability